*{/*отступы всего сайта*/
    padding: 0;
    margin: 0;
}
body{/*фон*/
    background-image: url(Program-code-colorful-letters-screen_2880x1800\ 1.png);
    background-size: cover;
}
.head{/*верхняя часть сайта*/
    width: 100%;
    position:absolute;
    height: auto;
    z-index: 1;
}
.img{/*верхняя картинка*/
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
} 

.hac{/*заголовок в верхней части*/
    position: absolute;
    width: 385px;
    top:10px;
    left:15px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 500;
    font-size: 27px;
    line-height: 77px;
    color: white;
    position: fixed;
}  

.okp{/*второстепенный текст в верехней части*/
    position: absolute;
    width: 300px;
    height: 56px;
    left: 15px;
    top: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 20px;
    letter-spacing: 0.300em;
    color: white;
    position: fixed;
}
.telegram{
    position: absolute;
    right: 9px;
    top:    70px;
    width: 35px;
    height: 35px;
    padding: auto;
    margin: auto;
    position: fixed;
}
.vk{
    position: absolute;
    width: 60px;
    height: 60px;
    right: -4px;
    top:10px;
    padding: 0;
    margin: 0;
    top:10px;
    position: fixed;
}
.info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: blanchedalmond;
    height: 100%;
    position: fixed;
}
.state1{
    border-style: solid;
    border: 10px;
    border-color: aqua;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:40px;
    left: 10px;


}
.state11{
    display: flex;
    position: absolute;
    width: 1000px;
    height: 20px;
    top: 300px;
    left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
}
.state12{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 320px;
    left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
}
.img1{
    position: absolute;
    width: 50px;
    height: 50px;
    top:297px;
    left: 230px;
}
.state2{
    border-style: solid;
    border: 10px;
    border-color: aqua;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:170px;
    left: 10px;


}
.state21{
    position: absolute;
    width: 1000px;
    height: 20px;
    top: 300px;
    left: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
}
.state22{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 320px;
    left: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
}
.img2{
    position: absolute;
    width: 40px;
    height: 40px;
    top:297px;
    left: 20px;
}
.state3{
    border-style: solid;
    border: 10px;
    border-color: aqua;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:290px;
    left: 10px;


}
.state31{
    display: flex;
    position: absolute;
    width: 1000px;
    height: 20px;
    top: 300px;
    left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
}
.state32{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 320px;
    left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
}
.img3{
    position: absolute;
    width: 40px;
    height: 40px;
    top:297px;
    left: 230px;
}
